.card {
  width: 80%;
  display: inline-block;
  border-radius: 20px;
  padding: 2px 1rem 1rem 1rem;
  margin: 10px;
  background-color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  .card-header {
    display: flex;
    color: #264653;
    font-size: 2rem;
    font-weight: bold;
  }

  hr {
    border-top: grey;
  }

  .card-description {
    padding: 2rem;

    text-align: justify;
  }

  .id,
  .date-created {
    display: flex;
    font-style: italic;
    font-size: 12px;
    color: grey;
  }
}

.buttons {
  display: flex;
  justify-content: end;

  .edit,
  .delete {
    background-color: #e9c46a;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    width: 10rem;
  }

  .delete {
    background-color: #e76f51;
  }

  .delete:hover,
  .edit:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
